@model PruebaDesarrolloSoftware.Models.Trabajadore
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Trabajadores</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Html.LabelFor(model => model.IdDepartamento, "Departamento", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.IdDepartamento, ViewBag.Departamentos as SelectList, "Seleccione un departamento", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.IdDepartamento, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.IdProvincia, "Departamento", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.IdProvincia, ViewBag.Provincia as SelectList, "Seleccione una provincia", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.IdProvincia, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.IdDistrito, "Departamento", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.IdDistrito, ViewBag.Distrito as SelectList, "Seleccione un distrito", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.IdDistrito, "", new { @class = "text-danger" })
                </div>
                <label asp-for="IdDistrito" class="control-label"></label>
                <select asp-for="IdDistrito" class="form-control" asp-items="ViewBag.NombreDistrito"></select>
            </div>
            <div class="form-group">
                <label asp-for="TipoDocumento" class="control-label"></label>
                <input asp-for="TipoDocumento" class="form-control" />
                <span asp-validation-for="TipoDocumento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroDocumento" class="control-label"></label>
                <input asp-for="NumeroDocumento" class="form-control" />
                <span asp-validation-for="NumeroDocumento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombres" class="control-label"></label>
                <input asp-for="Nombres" class="form-control" />
                <span asp-validation-for="Nombres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sexo" class="control-label"></label>
                <input asp-for="Sexo" class="form-control" />
                <span asp-validation-for="Sexo" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
